
<h4><strong>Assign Team Lead </strong></h4>
<div class="container">
	<div class="row">
   	<div class='col-sm-3'>
		    <%= label_tag :agent, 'Select Agent for Team Lead' %><br>
		    <%= select_tag 'agent_id', options_for_select(@agent_select) %><br><br><br>		
		    <%= submit_tag "Save Assignment", class: "btn btn_success" %><br><br>							    						  				
		</div>				
	</div>	  		
 </div>