<div class="page_content">
	<div id="homepage_text">
			<h4>This is the Wasatch Sales & Marketing <strong>Adminstrator</strong> Home Page. </h4>
			<p>Select a navigation tab from the above menu to continue.</p><br>
	</div>
		<div>
			<ul>
				<li><strong>Home</strong>: This page.</li>

				<li><strong>View Agents</strong>: List of all WSM Contractors. Profile information (address, phone, email) can be edited by Agents. Only Admins can create/update Agent login credentials, first and last names.</li>

				<li><strong>View/Add Jobs</strong>: Enter new job information, also view agents available for <strong>all</strong> job shifts & assign work.</li>

				<li><strong>Assign Shifts</strong>: Assign individual shifts for Agents who indicate partial availability for a job, or insert additional Agents.</li>

				<li><strong>View Agent Timesheets</strong>: View data entered by Agent for each shift, approve time & expenses. (After approval, Agents can review completed work)</li>

				<li><strong>Information and Forms</strong>: W-9s, Contractor Guidelines, Handbooks, etc.</li>
				
				<li><strong>Log Out</strong>: End session (redirects to login page)</li>
			</ul>
		</div>
</div>