<div class="container">
	<div id="homepage_text">
			<h4>This is the <strong>Field Agent</strong> Home Page. <h4>
			<p>Select a navigation tab from the above menu to continue</p>
	</div>
		<div>
			<ul>
				<li><strong>Home</strong>: This page.</li>

				<li><strong>Available Jobs</strong>: Listing of all Currently Available Projects. The <strong>Select Availability</strong> link directs to a page showing shifts associated to that Project. You can indicate your availability there, either globally(Available/Unavailable for all project shifts) or for selected shifts. WSM will assign agents based on availability (priority is usually given to Agents available for all shifts of a Project), suitability for the specific job, travel distance, etc. <strong>Indicating availability does not guarantee assignment.</strong></li>

				<li><strong>Assigned Shifts</strong>: Listing of Project Shifts to which you have been <strong>assigned</strong>, with the location & start times. The <strong>Report Time</strong> link directs you to a Timesheet form, where you report your hours, mileage, etc., and enter any comments related to the relevant shift.</li>

				<li><strong>Completed Shifts</strong>: Listing of past shifts that have been reported and approved for payment. </li>

				<li><strong>Agent Profile</strong>: You can upate personal information (address, phone, email address) here.</li>

				<li><strong>Information and Forms</strong>: W-9s, Contractor Guidelines, Handbooks, etc.</li>
				
				<li><strong>Log Out</strong>: End session (redirects to the login page)</li>
			</ul>
		</div>
</div>