<div class="container">

	<div class="col-xs-12 col-md-7 col-md-offset-2">
		<% if Shook.where("state = ? and agent_id = ? and date  =?", 'assigned', current_agent.id, Date.today) %>
		<% @today = Shook.where("state = ? and agent_id = ? and date  =?", 'assigned', current_agent.id, Date.today).pluck(:id) %>
		 <% end %>

	 <%= link_to 'You Have An Assigned Shift Today--Click Here to Proceed to Sign-In', sign_in_page_shook_path(@today), method: :get,  class: 'btn btn-primary', id: 'you-have-work' if @today.present? %>
	</div>

		<div class="col-xs-12 col-md-8" id="expo-text">
			<div id="homepage-text">
					<h4>This is the <strong>Field Agent</strong> Home Page. <h4>
					<p>Select a navigation tab from the above menu to continue</p>
			</div>
			<ul>
				<li><strong>Home</strong>: This page.</li>

				<li><strong>Available Jobs</strong>: Listing of all Currently Available Projects. The <strong><i>Select Availability</i></strong> link directs to a page showing shifts associated to that Project. You can indicate your availability there, either globally(Available/Unavailable for all project shifts) or for selected shifts. spot-ON will assign agents based on availability (priority is usually given to Agents available for all shifts of a Project), suitability for the specific job, travel distance, etc. <strong><i>Indicating availability does not guarantee assignment.</i></strong></li>

				<li><strong>Assigned Shifts</strong>: Listing of Project Shifts to which you have been <strong><i>assigned</i></strong>, with the location & start times. The <strong><i>Report Time</i></strong> link directs you to a Timesheet form, where you report your hours, mileage, etc., and enter any comments related to the relevant shift.</li>

				<li><strong>Completed Shifts</strong>: Listing of past shifts that have been reported and approved for payment. </li>

				<li><strong>Agent Profile</strong>: You can upate personal information (address, phone, email address) here.</li>

				<li><strong>Information and Forms</strong>: W-9s, Contractor Guidelines, Handbooks, etc.</li>

				<li><strong>Log Out</strong>: End session (redirects to the login page)</li>
			</ul>
		</div><!--end of text-containing div -->
</div><!--end div "container"-->
