<div class="container">
	<div class="row">
	  <div class="col-md-7 col-md-offset-2">
	  	<div class="sign-out-button">
			<h3>Thank you for Signing In</h3><br>
			<h4><b>Don't Forget to Report your Time when your shift is over!</b></h4>
			<h5>Please Log Out Now to begin your shift...</h5><br>
			<p><%= link_to "Log Out", logout_path, class: 'btn btn-success' %></p>
		</div>
		</div>
	</div>
</div>
