<div class="container">

		<div id="new-job-top">
			<h3>Add New Job</h3>
			<span id="back-button-new-jobs">
				<b><%= link_to 'Back to Jobs Page ', jobs_path %></b>
			</span>
		 </div>
</div> 

<%= render 'form' %>



