// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.banner {
	width: 100%;
	display: block;
	float: left;
	clear: right;
	background-color: #2A462A;
	}