// Place all the styles related to the completed_agent controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.j_num   { width:  7%; text-align: left;	margin-right: 5px;	list-style-type: none;	display: inline-block; }

		.pj      { width:  10%; text-align: left;	list-style-type: none;  display: inline-block;	}

		.s_name  { width:  7%;	text-align: left;	list-style-type: none;	display: inline-block;	}

		.s_num   { width:  5%;	text-align: left;	list-style-type: none;	display: inline-block;	}		

		.s_addy  { width:  13%;	text-align: left;	list-style-type: none;	display: inline-block;	}
		
		.s_city  { width:  9%;	text-align: left;	list-style-type: none;	display: inline-block;	}
		
		.s_state { width:  4%;	text-align: left;	list-style-type: none;	display: inline-block;	}
		
		.s_zip   { width:  5%;	text-align: left;	list-style-type: none;	display: inline-block;  }

		.w_date {	width: 7%;	text-align: left;	list-style-type: none;	display: inline-block;	}

		.w_time  { width:  6%;	text-align: left;	list-style-type: none;  display: inline-block;	}

		.w_hrs   { width:  4%;	text-align: left;	list-style-type: none;	display: inline-block;	}	

		.w_wages { width:  6%;	text-align: left;	list-style-type: none;  display: inline-block;}

