// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#you-have-work {
	// padding: 14px 140px;
	padding-top: 1.8rem;
    font-size: 1.25rem; //change this to your desired size
		height: 5rem;
    line-height: normal;
    text-align: center;
		vertical-align: middle;
    margin: 0 auto;
		width: 100%;
    color: white;
    background-color: DarkCyan;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
 }

 #homepage-text h4 {
	 font-size: 1.7rem;
 }

 #expo-text {
	 font-size: 1.5rem;
 }
