// Place all the styles related to the shooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	font-size: 100%;
}

div.banner {
	width: 100%;
	display: block;
	float: left;
	clear: right;
	background-color: #00FF00;
	}

div.add_new {
	width: 100%;
	display: block;
	float: left;
	clear: right;
	padding: 10px 0 10px 0;
}

div.sh_headings ul  {
	display: block;
	list-style-type: none;
	background-color: #D9D7D7;
	width: 100%;
	float: left;
	font-size: 1.2em;
	font-weight: bold;
}

div.shift_data ul {
	display: block;
	list-style-type: none;
	width: 100%;
	float: left;
	font-size: 1.0em;
	margin-top: 4px;
	}


		.si_link { width:  7%; text-align: left;	margin-right: 5px;	list-style-type: none;	display: inline-block }


		.j_num   { width:  7%; text-align: left;	margin-right: 5px;	list-style-type: none;	display: inline-block; }

		.pj      { width:  10%; text-align: left;	list-style-type: none;  display: inline-block;	}

		.s_name  { width:  7%;	text-align: left;	list-style-type: none;	display: inline-block;	}

		.s_num   { width:  5%;	text-align: left;	list-style-type: none;	display: inline-block;	}

		.s_addy  { width:  13%;	text-align: left;	list-style-type: none;	display: inline-block;	}

		.s_city  { width:  9%;	text-align: left;	list-style-type: none;	display: inline-block;	}

		.s_state { width:  4%;	text-align: left;	list-style-type: none;	display: inline-block;	}

		.s_zip   { width:  5%;	text-align: left;	list-style-type: none;	display: inline-block;  }

		.w_date {	width: 7%;	text-align: left;	list-style-type: none;	display: inline-block;	margin-right: 1%;}

		.w_time  { width:  6%;	text-align: left;	list-style-type: none;  display: inline-block;	}

		.w_hrs   { width:  4%;	text-align: left;	list-style-type: none;	display: inline-block;	}

		.w_rate { width:  6%;	text-align: left;	list-style-type: none;  display: inline-block;}

div.agent_links {
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px solid #909692;
}

.sign-in-time {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

.sign-in-check {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;

}

.sign-in-button  {
    padding: 14px 140px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    text-align: center;
    margin: 0 auto;
		width: 100%;
    color: white;
    background-color: DarkCyan;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

.sign-out-button  {
    padding: 14px 140px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    text-align: center;
    margin-left: auto;
		margin-right: auto;
		width: 100%;
    color: white;
    background-color: DarkCyan;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}
