// Place all the styles related to the timesheet_days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.timesheet-row {
	border-bottom: 1px solid #909692;
}

.timesheet-name {
	width: 100px;
}

.j_num   { width:  12%; text-align: left;	margin-right: 5px;	list-style-type: none;	display: inline-block; }

.pj      { width:  10%; text-align: left;	list-style-type: none;  display: inline-block;	}

.s_name  { width:  10%;	text-align: left;	list-style-type: none;	display: inline-block;	}

.s_num   { width:  10%;	text-align: left;	list-style-type: none;	display: inline-block;	}	

.w_start_date {	width: 10%;	text-align: left;	list-style-type: none;	display: inline-block;	}

.w_end_date  { width:  10%;	text-align: left;	list-style-type: none;  display: inline-block;	}

.w_agts   { width:  4%;	text-align: left;	list-style-type: none;	display: inline-block;	}	

.tl_link {width: 8%; text-align: left;	list-style-type: none;	display: inline-block;}